GOOGLE_ID=
GOOGLE_SECRET=
MONGO_URI=
KEY_ID=
KEY_SECRET=
NEXTAUTH_URL=https://project-hub-rust-alpha.vercel.app
NEXTAUTH_SECRET=
CLOUD_CLOUD_NAME=
CLOUD_API_SECRET=
CLOUD_API_KEY=
EMAIL_USER=
EMAIL_PASS=
RESEND_API_KEY=
KEY_PAIR=
ADMIN_EMAIL=